.fp-nav {
  padding-left: 100px;
}

.fp-nav__list-item {
  list-style: none;
}

.fp-nav__list-item + .fp-nav__list-item {
  margin-top: 10px;
}

.fp-nav__item {
  color: var(--col-1);
  font-size: 25px;
  transition: 0.2s ease opacity;
}

.fp-nav__item:hover {
  opacity: 0.8;
}
