.main-button {
  display: block;
  padding: 15px 65px;
  border: 1px solid var(--col-2);
  background: var(--col-1);
  color: var(--col-2);
  font-size: 18px;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  @media (--large) {
    font-size: 20px;
  }

  @media (--extra-large) {
    font-size: 24px;
  }
}

.main-button:hover {
  background: var(--col-2);
  color: var(--col-1);
}

.main-button--box {
  width: 45px;
  height: 40px;
  font-size: 16px;
  padding: 0;

  @media (--extra-large) {
    width: 55px;
    height: 50px;
  }
}

.main-button + .main-button {
  margin-left: 5px;

  @media (--large) {
    margin-left: 15px;
  }
}
