.shop {
  position: relative;
  padding: 100px 0;
  margin-bottom: 71px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.shop::before,
.shop::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--col-2);
}

.shop::before {
  top: 37px;
}

.shop::after {
  bottom: 37px;
}
