.shop-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 388px));
  grid-column-gap: 1.2vw;
  grid-row-gap: 1.2vw;
  justify-content: center;
  align-items: center;
  padding-top: 67px;
  padding-bottom: 67px;
} 







