.shop-item{
  border: 1px solid var(--col-2);
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

.shop-item__description {
  padding-top: 16px;
  padding-bottom: 17px;
}

.shop-item__title {
  font-size: 18px;
  color: var(--col-2);
  opacity: 56%;
}


.shop-item__cost {
  padding-top: 5px;
  font-size: 18px;
}

.shop-item__link {
  display: block;
  overflow: hidden;
}

.shop-item__img{
  transition: transform 0.4s ease-in-out;
  width: 384px;
  height: 384px;
}

.shop-item__link:hover {
  transform: scale(1.03); 
}

.shop-item__title:after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  content: "";
  height: 2px;
  width: 170px;
  background-color: var(--col-2);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.shop-item__title:hover:after,
.shop-item__title:focus:after {
  visibility: visible;
  transform: scaleX(1);
}