<section class="first-page screen">
    <div class="background-banner">
        <img src="./img/фон-главная.png" alt="фон" class="background-banner__img">
    </div>
    <a href="#" class="logo first-page__logo">
        <img src="src/img/logo.png" class="logo__img">
    </a>
    <nav class="first-page__nav">
        <ul class="first-page__list">
            <li class="first-page__list-item">
                <a href="#shop" class="first-page__item">
                    Shop
                </a>
            </li>
            <li class="first-page__list-item">
                <a href="#info" class="first-page__item">
                    Info
                </a>
            </li>
            <li class="first-page__list-item">
                <a href="#" class="first-page__item">
                    Contacts
                </a>
            </li>
        </ul>
    </nav>
</section>