<div class="main-header">
    <div class="container">
        <div class="main-header__wrapper">
            <a href="#" class="main-header__logo logo">
                Logo
            </a>
            <nav class="main-header__nav">
                <ul class="main-header__nav-list">
                    <li class="main-header__nav-li">
                        <a href="#" class="main-header__nav-link">
                            Info
                        </a>
                    </li>
                    <li class="main-header__nav-li">
                        <a href="#" class="main-header__nav-link">
                            Home
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>