<section class="product-deal">
  <div class="container product-deal__container">
    <form action="" class="product-deal__form">
      <div class="product-deal__contacts">
        <h2 class="product-deal__contacts-title">Контактная информация</h2>
        <input type="email" name="email" class="product-deal__input product-deal__mail" placeholder="АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ">
        <input type="tel" name="phone" class="product-deal__input product-deal__phone" placeholder="МОБИЛЬНЫЙ ТЕЛЕФОН">
      </div>
      <div class="product-deal__address">
        <h2 class="product-deal__address-title">Адрес доставки</h2>
        <input type="text" class="product-deal__input product-deal__fullname" placeholder="ФИО ПОЛУЧАТЕЛЯ">
        <input type="text" class="product-deal__input product-deal__country" placeholder="СТРАНА, ГОРОД">
        <input type="text" class="product-deal__input product-deal__exact-address" placeholder="ТОЧНЫЙ АДРЕС">
        <input type="text" class="product-deal__input product-deal__index" placeholder="ИНДЕКС">
      </div>
      <button class="product-deal__button" type="submit">
        Оформить заказ
      </button>
    </form>
    <div class="product-deal__item">
      <img src="./img/футболка.png" alt="футболка" class="product-deal__item-img">
      <div class="product-deal__item-info">
        <h2 class="product-deal__title product-title">
          Utopia basic logo t-shirt
        </h2>
        <h3 class="product-deal__description product-description product-deal__description">
          Базовая футболка с логотипом
        </h3>
      </div>
    </div>
  </div>
</section>