<section class="product-item">
  <div class="container product-item__container">
    <div class="product-item__left">
      <div class="product-item__slider">
        <img src="./img/футболка.png" alt="футболка">
      </div>
    </div>
    <div class="product-item__right">
      <h2 class="product-item__title">
        UTOPIA BASIC LOGO T-SHIRT
      </h2>
      <p class="product-item__title-description">
        БАЗОВАЯ ФУТБОЛКА С ЛОГОТИПОМ
      </p>
      <div class="product-item__cost">
        2990 &#8381;
      </div>
      <div class="product-item__sizes">
        <div class="product-item__size">
          S
        </div>
        <div class="product-item__size">
          M
        </div>
        <div class="product-item__size">
          L
        </div>
      </div>
      <a href="./product-deal.html" class="product__button">
        КУПИТЬ
      </a>
      <div class="product-item__delivery">
        БЕСПЛАТНАЯ ДОСТАВКА ОТ 2 ДНЕЙ
        СДЕЛАНО В РОССИИ
      </div>
    </div>
  </div>
</section>