<section class="shop">
  <div class="container">
    <div class="shop-grid">
        <div class="shop-item">
            <a href="#" class="shop-item__img-link" title="UTOPIA BASIC LOGO T-SHIRT">
                <img src="./img/футболка.png" alt="футболка" class="shop-item__img">
            </a>
          <div class="shop-item__info">
            <a href="" class="shop-item__name">
                UTOPIA BASIC LOGO T-SHIRT
            </a>
            <p class="shop-item__cost">
                2,500 &#8381;
            </p>
          </div>
        </div>  
        <div class="shop-item">
            <a href="#" class="shop-item__img-link" title="UTOPIA BASIC LOGO T-SHIRT">
                <img src="./img/сумка.png" alt="сумка" class="shop-item__img">
            </a>
          <div class="shop-item__info">
            <a href="" class="shop-item__name">
                UTOPIA BASIC LOGO T-SHIRT
            </a>
            <p class="shop-item__cost">
                4,900 &#8381;
            </p>
          </div>
        </div>
        <div class="shop-item">
            <a href="#" class="shop-item__img-link" title="UTOPIA BASIC LOGO T-SHIRT">
                <img src="./img/шорты.png" alt="шорты" class="shop-item__img">
            </a>
          <div class="shop-item__info">
            <a href="" class="shop-item__name">
                UTOPIA BASIC LOGO T-SHIRT
            </a>
            <p class="shop-item__cost">
                2,900 &#8381;
            </p>
          </div>
        </div>
    </div>
  </div>
</section>