<section class="shop screen">
  <ul class="shop__items-list">
    <li class="shop__item">
      <article class="shop__item-content products-item">
        <picture>
          <img src="./img/футболка.png" alt="футболка" class="shop__item-img first-item-img">
        </picture>
        <div class="shop__item-description products-description">
          <h3 class="shop__item-name products-name">UTOPIA BASIC LOGO T-SHIRT</h3>
          <p class="shop__item-cost products-cost">2,500 &#8381;</p>
        </div>
      </article>  
    </li>
    <li class="shop__item">
      <article class="shop__item-content products-item">
        <picture>
          <img src="./img/сумка.png" alt="сумка" class="shop__item-img second-item-img">
        </picture>
        <div class="shop__item-description products-description">
          <h3 class="shop__item-name products-name">UTOPIA BASIC LOGO T-SHIRT</h3>
          <p class="shop__item-cost products-cost">4,900 &#8381;</p>
        </div>
      </article>
    </li>
    <li class="shop__item">
      <article class="shop__item-content products-item">
        <picture>
          <img src="./img/шорты.png" alt="шорты" class="shop__item-img third-item-img">
        </picture>
        <div class="shop__item-description products-description">
          <h3 class="shop__item-name products-name">UTOPIA BASIC LOGO T-SHIRT</h3>
          <p class="shop__item-cost products-cost">2,900 &#8381;</p>
        </div>
      </article>
    </li>
  </ul>
</section>