<section class="shop-main">
    <div class="container">
        <div class="shop-main__wrapper">
            <div class="shop-main__images-side">
                <div class="shop-main__slider-wrapper">
                    <div class="shop-main__slider">
                        <img src="./img/tee-1.png" alt="футболка" class="shop-main__slider-img">
                    </div>
                    <div class="shop-main__images">
                        <img src="./img/tee-logo.png" alt="футболка" class="shop-main__slider-img--small">
                        <img src="./img/tee-human-front.png" alt="футболка" class="shop-main__slider-img--small">
                        <img src="./img/tee-back.png" alt="футболка" class="shop-main__slider-img--small">
                        <img src="./img/tee-human-back.png" alt="футболка" class="shop-main__slider-img--small">
                    </div>
                </div>
            </div>
            <div class="shop-main__info">
                <h2 class="shop-main__title product-title">
                    Utopia basic logo t-shirt
                </h2>
                <h3 class="shop-main__description product-description shop-main__description">
                    Базовая футболка с логотипом
                </h3>
                <div class="product-title shop-main__price">
                    2990 &#8381;
                </div>
                <form class="shop-main__form">
                    <div class="shop-main__sizes">
                        <button class="main-button main-button--box">
                            S
                        </button>
                        <button class="main-button main-button--box">
                            M
                        </button>
                        <button class="main-button main-button--box">
                            L
                        </button>
                        <button class="main-button main-button--box">
                            XL
                        </button>
                        <button class="main-button main-button--box">
                            XXL
                        </button>
                    </div>
                    <button class="main-button shop-main__buy-button">
                        Купить
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
