<section class="shop" id="shop">
  <div class="shop__products">
    <ul class="products-list">
      <li class="products-list__item">
        <article class="products-item">
          <picture>
            <img src="./img/футболка.png" alt="футболка" class="first-item-img">
          </picture>
          <div class="products-item__description">
            <h3 class="item-name">UTOPIA BASIC LOGO T-SHIRT</h3>
            <p class="item-cost">2,500 &#8381;</p>
          </div>
        </article>  
      </li>
      <li class="products-list__item">
        <article class="products-item">
          <picture>
            <img src="./img/сумка.png" alt="сумка" class="second-item-img">
          </picture>
          <div class="products-item__description">
            <h3 class="item-name">UTOPIA BASIC LOGO T-SHIRT</h3>
            <p class="item-cost">4,900 &#8381;</p>
          </div>
        </article>
      </li>
      <li class="products-list__item">
        <article class="products-item">
          <picture>
            <img src="./img/шорты.png" alt="шорты" class="third-item-img">
          </picture>
          <div class="products-item__description">
            <h3 class="item-name">UTOPIA BASIC LOGO T-SHIRT</h3>
            <p class="item-cost">2,900 &#8381;</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>